.example::-webkit-scrollbar {
    display: none;
  }
        .strip{
            position: absolute;
            height:100%;
            background: #fff;
            width: 100%;
            opacity: .3;
        }

        .one{
            left: 25%;
        }        

        .two{
            left: 50%;
        }

        .three{
            left: 75%;
        }

        .container{
            align-items: flex-start;
            display: flex;
            justify-content: center;
            padding: 16.875rem 1.5rem;
        }

        .card-grid{
            display: grid;
            grid-column-gap: 1.5rem;
            max-width: 75rem;
            width: 100%;
            margin: 30px;
        }



        @media(min-width: 75rem){
            .card-grid{
                grid-template-columns: repeat(5, 1fr);
            }
        }

        .card{
            position: relative;
        }

        .card::before{
            content: '';
            display: block;
            padding-bottom: 150%;
        }

        .card-background
        {
            background-size: cover;
            background-position: center;
            border-radius: 0.9375rem;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: filter .2s linear, transform 200ms linear;
        }

        .card:hover .card-background
        {
            background-color:#4e1d04;
            transform: scale(1.25) translateZ(0);
        }

        .card-grid:hover > .card:not(:hover) .card-background
        {
            filter: brightness(1) saturate(0) contrast(1) blur(1.25rem);
        }

        .card-content{
            padding: 14.375rem 1.25rem;
            position: absolute;
            top: 0;
        }

        .card-category{
    
            color: grey;
            font-size: 15px;
            text-transform: uppercase;
        }

        .card-heading{

            color: white;
            font-size: 15px;
            text-shadow: 0.125rem 0.125rem 1.25rem rgba(0 , 0, 0, .2);
        }
     